global:
  scrape_interval: "15s"
  evaluation_interval: "15s"

# Alertmanager configuration
alerting:
  alertmanagers:
    - static_configs:
      - targets:
        # - alertmanager:9093

# Load rules once and periodically evaluate them according to the global 'evaluation_interval'.
rule_files:
  # - "first_rules.yml"
  # - "second_rules.yml"

scrape_configs:
  - job_name: "prometheus"
    static_configs:
      - targets: ["localhost:9090"]
  - job_name: "harbor-registry"
    scheme: https
    basic_auth:
      username: prometheus
      password: '123qwe!@#4'
    tls_config:
      ca_file: /etc/registry/node_exporter.crt
      insecure_skip_verify: true # Set this true for self-sign
    static_configs:
      - targets: ["100.64.241.90:9100"]
  - job_name: "loadbalancer-nginx"
    scheme: https
    basic_auth:
      username: prometheus
      password: '123qwe!@#4'
    tls_config:
      ca_file: /etc/loadbalancer/nginx_exporter.crt
      insecure_skip_verify: true # Set this true for self-sign
    static_configs:
      - targets: ["100.69.229.22:9113"]

  # Federation target (your cluster Prometheus)
  - job_name: "federate-cluster-home"
    scheme: https
    scrape_interval: 1m
    honor_labels: true
    metrics_path: '/federate'
    params:
      'match[]':
        - '{__name__!=""}'
    static_configs:
      - targets:
        - 'prometheus-cluster-home.bbtech.io.vn'
        labels:
          cluster: "cluster-home"
    tls_config:
      ca_file: /etc/cluster/cluster_ca.crt
      insecure_skip_verify: false
  - job_name: "federate-cluster-fis"
    scheme: https
    scrape_interval: 1m
    honor_labels: true
    metrics_path: '/federate'
    params:
      'match[]':
        - '{__name__!=""}'
    static_configs:
      - targets:
        - 'prometheus-cluster-fis.bbtech.io.vn'
        labels:
          cluster: "cluster-fis"
    tls_config:
      ca_file: /etc/cluster/cluster_ca.crt
      insecure_skip_verify: false